@charset "utf-8";
.decoration {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.decorationImg {
    display: none;
    @media (min-width: 1024px) {
        width: 30%;
        height: auto;
        position: absolute;
        display: block;
        width: 232px;
        z-index: 2;
        top: 0;
        right: 0;
    }
}

.flex {
    @media (min-width: 768px) {
        column-gap: 32px;
    }
    &.reverse {
        @media (min-width: 768px) {
            flex-direction: row-reverse;
        }
    }
}

.sectionBg .decorationImg {
    display: none;
    @media (min-width: 1024px) {
        width: 30%;
        height: auto;
        position: absolute;
        display: block;
        width: 232px;
        z-index: 2;
        top: -3%;
        left: 0;
    }
}

.imgBox {
    min-width: 350px;
    width: 100%;
}

.mainTtl {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 52px;
    @media (min-width: 768px) {
        font-size: 3.4rem;
        margin-bottom: 104px;
    }
    &+.txt {
        text-align: center;
        margin-bottom: 56px;
        letter-spacing: .2rem;
        @media (min-width: 1024px) {
            letter-spacing: .4rem;
        }
    }
}

.mainImg {
    display: block;
    width: 100%;
    margin: 0 auto 72px;
    max-width: 800px;
    @media (min-width: 768px) {
        margin: 0 auto 148px;
    }
}

.secondTtl {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
    @media (min-width: 768px) {
        font-size: 2.6rem;
        margin-bottom: 96px;
        line-height: 2;
    }
}

.mainSection {
    margin: 86px auto 72px;
    @media (min-width: 768px) {
        margin: 172px auto 154px;
    }
}

.secondSection {
    margin: 0 auto 56px;
    padding: 64px 0 48px;
    @media (min-width: 768px) {
        margin: 0 auto 100px;
        padding: 120px 0 96px;
    }
}

.txtBoxTtl {
    font-size: 2rem;
    margin-bottom: 16px;
    letter-spacing: .2rem;
    @media (min-width: 768px) {
        font-size: 2.4rem;
        margin-bottom: 32px;
    }
}

.section {
    margin-bottom: 60px;
    @media (min-width: 768px) {
        padding-bottom: 150px;
        margin-bottom: 0;
    }
}

.sectionInr {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @media (min-width: 768px) {
        row-gap: 80px;
    }
}

.contentBox {
    max-width: none;
    width: 100%;
    color: var(--black-color);
}

.bgImg {
    z-index: -1;
}

.overlapTxt {
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
        position: relative;
        width: 100%;
        height: 400px;
        flex-direction: row;
    }
    & .txtBox {
        padding: 24px 32px;
        background: var(--white-color);
        @media (min-width: 1024px) {
            position: absolute;
            right: 0;
            bottom: -24px;
            padding: 40px 62px;
            width: 63%;
        }
    }
    & .imgBox {
        max-width: 892px;
        @media (min-width: 1024px) {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
        & .img {
            width: 100%;
            max-width: 892px;
            height: auto;
        }
    }
    &.reverse {
        @media (min-width: 1024px) {
            flex-direction: row-reverse;
            margin-left: auto;
        }
        & .txtBox {
            left: 0;
        }
        & .imgBox {
            right: 0;
            left: unset;
        }
    }
}