---
import '../styles/reset.css';
import '../styles/common.css';
import '../styles/header.css';
import '../styles/footer.css';
import '../styles/course.css';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';


const pageTitle = "コース｜春寿し";
---

<!DOCTYPE html>
<html lang="ja">

<head>
	<Head />
	<title>{pageTitle}</title>
</head>

<body class="wrap">
	<Header />
    <div class="content">
        <div class="pageHeader">
            <div class="pageHeaderImg">
                <img src="https://haruzushi.com/system_panel/uploads/images/20240430162051842657.png" alt="背景用の画像" width="1440" height="325" class="img" />
            </div>
            <div class="pageHeaderHead">
                <h1 class="pageHeaderHeadTxt">コース
                </h1>
            </div>
        </div>
        <div class="decoration">
            <img src="https://haruzushi.com/system_panel/uploads/images/20240426130859208013.png" alt="装飾用のイメージ画像" width="232" height="304" class="decorationImg" />
            <img src="https://haruzushi.com/system_panel/uploads/images/20240426130859292604.png" alt="装飾用のイメージ画像" width="232" height="240" class="decorationImg" />
            <div class="section courseDetail">
                <div class="bottomLineTtl">
                    <h2 class="h1714461713043">にぎり寿しご膳
                    </h2>
                    <p class="price">　5,500円
                    </p>
                </div>
                <div class="courseDetailImg">
                    <img src="https://haruzushi.com/system_panel/uploads/images/20240517153955403393.png" alt="にぎり寿しご膳 コース料理イメージ画像" width="968" height="646" class="img" />
                </div>
            </div>
            <div class="section courseDetail">
                <div class="bottomLineTtl">
                    <h2 class="h1714461713084">にぎり寿しご膳
                    </h2>
                    <p class="price">6,600円
                    </p>
                </div>
                <div class="courseDetailImg">
                </div>
            </div>
        </div>
    </div>

	<Footer />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>