---
import '../styles/reset.css';
import '../styles/common.css';
import '../styles/header.css';
import '../styles/footer.css';
import '../styles/top.css';

import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';


const pageTitle = "トップページ｜春寿し";
---

<!DOCTYPE html>
<html lang="ja">

<head>
	<Head />
	<title>{pageTitle}</title>
</head>

<body class="wrap">
	<Header />
    <div class="content">
        <div class="firstView">
            <div class="firstViewTtl">
                人
                <p class="firstViewTtlSmall">との
                </p>繋がり
                <p class="firstViewTtlSmall">が
                </p>彩る
                <h1 class="firstViewTtlLarge">おもてなし
                </h1>
            </div>
            <img src="https://haruzushi.com/system_panel/uploads/images/20240425114627620916.png" alt="春寿し 店舗外観画像" width="1140" height="705" class="firstViewImg" />
        </div>
        <div class="decoration">
            <img src="https://haruzushi.com/system_panel/uploads/images/20240425114627696145.png" alt="装飾用のイメージ画像" width="232" height="233" class="decorationImg" />
            <img src="https://haruzushi.com/system_panel/uploads/images/20240425114627696145.png" alt="装飾用のイメージ画像" width="232" height="233" class="decorationImg" />
            <div class="mainContent">
                <h2 class="mainContentTtl">落ち着いた雰囲気で
                    <br />繋がりを大切に提供する
                    <br class="pcHidden" />お寿司
                </h2>
                <div class="flex">
                    <div class="txtBox">
                        <p class="txt">福岡県北九州市にて30年以上続く春寿し。
                        </p>
                        <p class="txt">当店では、質や鮮度の良い魚をいろんな人に食べてもらいたいという想いからリーズナブル価格で提供しています。
                            <br />食べた時の笑顔や会話が何よりもうれしい時間です。
                        </p>
                        <p class="txt">会話を通じて、お客様がさらに喜びや感動を与えるられるようより一層心を込めたおもてなしでお迎えいたします。
                        </p>
                    </div>
                    <div class="imgBox">
                        <img src="https://haruzushi.com/system_panel/uploads/images/20240425114627157181.png" alt="春寿し 店内イメージ画像" width="570" height="392" class="img" />
                    </div>
                </div>
                <h2 class="mainContentTtl">30年以上の
                    <br class="pcHidden" />技術と愛情が込められた
                    <br />お寿司の奥深い味わい
                </h2>
                <div class="flex">
                    <div class="imgBox">
                        <img src="https://haruzushi.com/system_panel/uploads/images/20240425114627787701.png" alt="春寿し ご提供お料理イメージ画像" width="570" height="392" class="img" />
                    </div>
                    <div class="txtBox">
                        <p class="txt">春寿しは、福岡県北九州市にて、こだわり抜いた新鮮なお魚を使ったお寿司を提供しています。
                        </p>
                        <p class="txt">
                            鮮度と質の高いお魚を使ったお寿司をリーズナブルな価格で提供しています。
                            <br />一人でもご家族や友人との特別なひとときに、ぜひ当店のお寿司で笑顔になってください。
                        </p>
                    </div>
                </div>
                <a href="./thought" class="normalBtn">
                    <p class="normalBtnTxt">店主の想い
                    </p>
                </a>
                <div class="menuRow">
                    <div class="menuBox">
                        <a href="./course" class="imgLink link"><img src="https://haruzushi.com/system_panel/uploads/images/20240425114627480319.png" alt="" width="484" height="323" class="backImg" />
                            <p class="frontTxt">コース
                            </p>
                        </a>
                    </div>
                    <div class="menuBox">
                        <a href="./menu" class="imgLink link"><img src="https://haruzushi.com/system_panel/uploads/images/20240425114627750219.png" alt="" width="484" height="323" class="backImg" />
                            <p class="frontTxt">メニュー
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="recruit sectionBg">
            <div class="sectionBgImg">
                <img src="https://haruzushi.com/system_panel/uploads/images/20240425114627963954.png" alt="求人情報セクション 背景画像" width="1440" height="774" class="img" />
            </div>
            <div class="contentBox">
                <h2 class="recruitTtl">求人情報
                </h2>
                <div class="recruitRow">
                    <div class="txtBox recruitTxtBox">
                        <h3 class="recruitTxtBoxTtl">春寿しでは
                            <br />一緒に働いてくれる仲間を
                            <br class="pcHidden" />募集しております
                        </h3>
                        <p class="txt">春寿しでは、美味しい料理と会話を通じた居心地の良いサービスを提供できる仲間を求めています。
                            <br />
                            料理の腕や経験はもちろん大切ですが、笑顔やおもてなしの心も重視しています。
                        </p>
                        <p class="txt">お互いに協力し合いながら働ける環境を整えています。
                            <br />
                            飲食業の未経験者も歓迎です。
                            <br />
                            一緒においしい料理を提供し、お客様に喜んでいただける瞬間を共有しませんか？
                            <br />
                            興味のある方はぜひお気軽にご応募ください。
                        </p>
                        <a href="./recruit" class="normalBtn">
                            <p class="normalBtnTxt">求人情報
                            </p>
                        </a>
                    </div>
                    <div class="recruitImg imgBox">
                        <img src="https://haruzushi.com/system_panel/uploads/images/20240425114627147615.png" alt="職人が寿司を握っている画像 背景画像" width="475" height="305" class="recruitImgBack" />
                    </div>
                </div>
            </div>
        </div>
        <div class="decoration">
            <img src="https://haruzushi.com/system_panel/uploads/images/20240425114627805615.png" alt="装飾用のイメージ画像" width="360" height="402" class="decorationImgLarge" />
            <div class="news">
                <h2 class="newsTtl">新着情報
                </h2>
                <section table="news" rows="3" sort-field="sort" sort-order="asc" display-mode="blog" template="indexNews" pagination="0" page-indicator="0" grouping="" group-expansion="" key="" type="" value="" smth_date="1" id="wgc-1714109776396" class="webgene-component">
                    <span>記事データブロック</span>
                </section>
                <div class="newsBox">
                </div>
                <a href="./news" class="normalBtn">
                    <p class="normalBtnTxt">記事一覧
                    </p>
                </a>
            </div>
        </div>
        <div class="access">
            <div class="accessRow">
                <div class="txtBox">
                    <h2 class="accessTtl">春寿し
                    </h2>
                    <div class="accessItem">
                        <h3 class="accessItemTtl">住所
                        </h3>
                        <p class="accessItemTxt">〒807-0853 福岡県北九州市八幡西区鷹見台2丁目2-1
                        </p>
                    </div>
                    <div class="accessItem">
                        <h3 class="accessItemTtl">営業時間
                        </h3>
                        <p class="accessItemTxt">ランチ：11:30-14:30
                            <br>ディナー:18:00-21:30
                            <br>※法事やお祝いなど大人数の場合は、営業時間外でも対応いたします
                        </p>
                    </div>
                    <div class="accessItem">
                        <h3 class="accessItemTtl">定休日
                        </h3>
                        <p class="accessItemTxt">水曜日（水曜日が祝日の場合は営業し、翌日休日となります）
                        </p>
                    </div>
                    <div class="accessItem">
                        <h3 class="accessItemTtl">決済方法
                        </h3>
                        <p class="accessItemTxt">電子マネー・クレジットカード
                        </p>
                    </div>
                    <div class="accessItem">
                        <h3 class="accessItemTtl">座席
                        </h3>
                        <p class="accessItemTxt">カウンター7名・テーブル６名・座敷12名
                        </p>
                    </div>
                    <a href="./store" class="normalBtn">
                        <p class="normalBtnTxt">店舗情報
                        </p>
                    </a>
                </div>
                <div class="imgBox googleMap">
                    <div src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.909379186007!2d130.7217470757073!3d33.840447573237434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3543ce99b315da2b%3A0x99570965bbb3a7e7!2z5pil5a-_44GX!5e0!3m2!1sja!2sjp!4v1714110276357!5m2!1sja!2sjp" class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.909379186007!2d130.7217470757073!3d33.840447573237434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3543ce99b315da2b%3A0x99570965bbb3a7e7!2z5pil5a-_44GX!5e0!3m2!1sja!2sjp!4v1714110276357!5m2!1sja!2sjp" width="400" height="300" loading="lazy" id="iadnw4" class="gjs-no-pointer c3221"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<Footer />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>