<div class="contact sectionBg">
    <div class="sectionBgImg">
        <img src="https://haruzushi.com/system_panel/uploads/images/20240425114627963954.png" alt="背景用の画像" width="1440"
            height="516" class="img" />
    </div>
    <div class="sectionBgBox">
        <h2 class="contactBoxTtl">お問い合わせ
        </h2>
        <p class="txt">春寿しのホームページをご覧いただきありがとうございます。
            <br /> サービスや料理などに関する内容は、お問い合わせは下記お電話、
            <br />またはメールフォームよりご連絡ください。
        </p>
        <div class="contactRow">
            <div class="telLink">
                <img src="https://haruzushi.com/system_panel/uploads/images/20240425114627524527.png" alt="白い受話器のアイコン画像"
                    width="37" height="34" class="telImg" />
                <p class="telTxt">
                    <a href="tel:0936027326" class="telLink">093-602-7326</a>
                </p>
            </div>
            <a href="#" class="contactBtn">
                <p class="contactBtnTxt">お問い合わせはこちら
                </p>
            </a>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footerRow flex">
        <div class="footerInfo">
            <h2 class="footerTtl">春寿し
            </h2>
            <div class="footerInfoItem">
                <p class="footerInfoItemTxt">
                    〒807-0853
                    <br /> 福岡県北九州市八幡西区鷹見台2丁目２－１
                    <br /> TEL:
                    <a href="tel:0936027326" class="link">093-602-7326</a>
                </p>
            </div>
            <div class="footerInfoItem">
                <p class="footerInfoItemTtl">営業時間
                </p>
                <p class="footerInfoItemTxt">ランチ:11:30-14:30（L.O13:30）
                    <br>ディナー:18:00-21:30（L.O21:00）
                </p>
            </div>
            <div class="footerInfoItem">
                <p class="footerInfoItemTtl">定休日
                </p>
                <p class="footerInfoItemTxt">水曜日
                </p>
            </div>
        </div>
        <div class="footerLink">
            <div class="footerLinkBox">
                <a href="/" class="link">
                    <p class="footerLinkTtl">ホーム
                    </p>
                </a>
            </div>
            <div class="footerLinkBox">
                <a href="/menu" class="link">
                    <p class="footerLinkTtl">メニュー
                    </p>
                </a>
            </div>
            <div class="footerLinkBox">
                <a href="/recruit" class="link">
                    <p class="footerLinkTtl">求人情報
                    </p>
                </a>
                <a href="/recruit#atmosphere" class="link">
                    <p class="linkTxt">ー お店の雰囲気
                    </p>
                </a>
                <a href="/recruit#requirements" class="link">
                    <p class="linkTxt">ー 求人詳細
                    </p>
                </a>
            </div>
            <div class="footerLinkBox">
                <a href="/thought" class="link">
                    <p class="footerLinkTtl">店主の想い
                    </p>
                </a>
                <a href="/thought#cooking" class="link">
                    <p class="linkTxt">ー 料理への思い
                    </p>
                </a>
                <a href="/thought#career" class="link">
                    <p class="linkTxt">ー 経歴
                    </p>
                </a>
            </div>
            <div class="footerLinkBox">
                <a href="/store" class="link">
                    <p class="footerLinkTtl">店舗概要
                    </p>
                </a>
                <a href="/store#info" class="link">
                    <p class="linkTxt">ー 運営情報
                    </p>
                </a>
                <a href="/store#map" class="link">
                    <p class="linkTxt">ー マップ
                    </p>
                </a>
            </div>
            <div class="footerLinkBox">
                <a href="#" class="link">
                    <p class="footerLinkTtl">新着情報
                    </p>
                </a>
            </div>
            <div class="footerLinkBox">
                <a href="/course" class="link">
                    <p class="footerLinkTtl">コース
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="footerCopy">
        <p class="footerCopyTxt">©2024 春寿し
        </p>
        <div class="pageTopBtn">
            <a href="/" id="pageTopBtnLink" class="pageTopBtnLink"></a>
        </div>
    </div>
</footer>