<header class="header">
    <a href="/" class="logo link"><img src="https://haruzushi.com/system_panel/uploads/images/20240425114627921849.png"
            alt="春寿し ロゴ" width="116" height="36" class="logoImg" /></a>
    <div class="headerInr">
        <div class="headerInfo">
            <div class="telLink">
                <img src="https://haruzushi.com/system_panel/uploads/images/20240425114627812234.png" alt="黒い受話器のアイコン画像"
                    width="27" height="23" class="telImg" />
                <a href="tel:0936027326" class="telLink link">
                    <p class="telTxt">093-602-7326
                    </p>
                </a>
            </div>
            <div class="headerInfoDate">
                <div class="headerInfoDateItem">
                    <p class="headerInfoBoxTtl">ランチ
                    </p>
                    <p class="headerInfoBoxTxt">11:30~14:00
                    </p>
                </div>
                <div class="headerInfoDateItem">
                    <p class="headerInfoBoxTtl">定休日
                    </p>
                    <p class="headerInfoBoxTxt">水曜日
                    </p>
                </div>
                <div class="headerInfoDateItem">
                    <p class="headerInfoBoxTtl">ディナー
                    </p>
                    <p class="headerInfoBoxTxt">17:30~21:00
                    </p>
                </div>
            </div>
        </div>
        <nav class="headerNav">
            <a href="/" class="headerNavLink link">
                <p class="headerNavTxt">ホーム
                </p>
            </a>
            <div class="dropList">
                <a href="/thought" class="headerNavLink link">
                    <p class="headerNavTxt arrow">店主の想い
                    </p>
                </a>
                <div class="dropListContent">
                    <a href="/thought#cooking" class="headerNavLink link">
                        <p class="headerNavTxt">料理への思い
                        </p>
                    </a>
                    <a href="/thought#career" class="headerNavLink link">
                        <p class="headerNavTxt">経歴
                        </p>
                    </a>
                </div>
            </div>
            <a href="/course" class="headerNavLink link">
                <p class="headerNavTxt">コース
                </p>
            </a>
            <a href="/menu" class="headerNavLink link">
                <p class="headerNavTxt">メニュー
                </p>
            </a>
            <div class="dropList">
                <a href="/store" class="headerNavLink link">
                    <p class="headerNavTxt arrow">店舗概要
                    </p>
                </a>
                <div class="dropListContent">
                    <a href="/store#info" class="headerNavLink link">
                        <p class="headerNavTxt">運営情報
                        </p>
                    </a>
                    <a href="/store#map" class="headerNavLink link">
                        <p class="headerNavTxt">マップ
                        </p>
                    </a>
                </div>
            </div>
            <div class="dropList">
                <a href="recruit" class="headerNavLink link">
                    <p class="headerNavTxt arrow">求人情報
                    </p>
                </a>
                <p class="headerNavTxt">
                </p>
                <div class="dropListContent">
                    <a href="/recruit#atmosphere" class="headerNavLink link">
                        <p class="headerNavTxt">お店の雰囲気
                        </p>
                    </a>
                    <a href="/recruit#requirements" class="headerNavLink link">
                        <p class="headerNavTxt">求人詳細
                        </p>
                    </a>
                </div>
            </div>
            <a href="#" class="headerNavLink link">
                <p class="headerNavTxt">新着情報
                </p>
            </a>
        </nav>
        <div class="headerContact">
            <a href="#" class="headerContactLink link">
                <p class="headerContactTxt">お問い合わせ
                </p>
            </a>
        </div>
    </div>
    <div class="hamburger">
        <p class="span">
        </p>
        <p class="span">
        </p>
        <p class="span">
        </p>
    </div>
    <div class="globalMenuSp">
        <nav class="hUl">
            <div class="hamburgerList">
                <a href="/" class="hamburgerListLink link">
                    <p class="hamburgerListTxt">ホーム
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="javascript:void(0);" class="hamburgerListLink link accordionRoot">
                    <p class="hamburgerListTxt">店主の想い
                    </p>
                </a>
            </div>
            <div class="accordionChild">
                <div class="hamburgerList">
                    <a href="/thought" class="hamburgerListLink link">
                        <p class="hamburgerListTxt">店主の想い
                        </p>
                    </a>
                </div>
                <div class="hamburgerList">
                    <a href="/thought#cooking" class="hamburgerListLink link">
                        <p class="hamburgerListTxt">料理への思い
                        </p>
                    </a>
                </div>
                <div class="hamburgerList">
                    <a href="/thought#career" class="hamburgerListLink link">
                        <p class="hamburgerListTxt">経歴
                        </p>
                    </a>
                </div>
            </div>
            <div class="hamburgerList">
                <a href="/course" class="hamburgerListLink link">
                    <p class="hamburgerListTxt">コース
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="/menu" class="hamburgerListLink link">
                    <p class="hamburgerListTxt">メニュー
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="javascript:void(0);" class="hamburgerListLink link accordionRoot">
                    <p class="hamburgerListTxt">店舗概要
                    </p>
                </a>
            </div>
            <div class="accordionChild">
                <div class="hamburgerList">
                    <a href="/store" class="hamburgerListLink link">
                        <p class="hamburgerListTxt">店舗概要
                        </p>
                    </a>
                </div>
                <div class="hamburgerList">
                    <a href="/store#info" class="hamburgerListLink link">
                        <p class="hamburgerListTxt">運営情報
                        </p>
                    </a>
                </div>
                <div class="hamburgerList">
                    <a href="/store#map" class="hamburgerListLink link">
                        <p class="hamburgerListTxt">マップ
                        </p>
                    </a>
                </div>
            </div>
            <div class="hamburgerList">
                <a href="javascript:void(0);" class="hamburgerListLink link accordionRoot">
                    <p class="hamburgerListTxt">求人情報
                    </p>
                </a>
            </div>
            <div class="accordionChild">
                <div class="/hamburgerList">
                    <a href="recruit.html" class="hamburgerListLink link">
                        <p class="hamburgerListTxt">求人情報
                        </p>
                    </a>
                </div>
                <div class="hamburgerList">
                    <a href="/recruit#atmosphere" class="hamburgerListLink link">
                        <p class="hamburgerListTxt">お店の雰囲気
                        </p>
                    </a>
                </div>
                <div class="hamburgerList">
                    <a href="/recruit#requirements" class="hamburgerListLink link">
                        <p class="hamburgerListTxt">求人詳細
                        </p>
                    </a>
                </div>
            </div>
            <div class="hamburgerList">
                <a href="#" class="hamburgerListLink link">
                    <p class="hamburgerListTxt">新着情報
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="#" class="hamburgerListLink link">
                    <p class="hamburgerListTxt">お問い合わせ
                    </p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="tel:0936027326" class="hamburgerListLink link">
                    <p class="hamburgerListTxt">TEL：093-602-7326
                    </p>
                </a>
            </div>
        </nav>
    </div>
</header>